@model  mvc_class_d1.Models.ProductCreate


@{
    Layout = null;
    ViewBag.Title = "Create";
}

@*@using (Html.BeginForm("Create", "Product", FormMethod.Post))
    {*@

<form id="Create_Form">
    <div>
        @Html.LabelFor(m => m.product_id)
        @Html.EditorFor(m => m.product_id)
    </div>
    <div>
        @Html.LabelFor(m => m.name)
        @Html.EditorFor(m => m.name)
    </div>
    <div>
        @Html.LabelFor(m => m.unit)
        @Html.EditorFor(m => m.unit)
    </div>
    <div>
        @Html.LabelFor(m => m.spec)
        @Html.EditorFor(m => m.spec)
    </div>
    <div>
        @Html.LabelFor(m => m.description)
        @Html.EditorFor(m => m.description)
    </div>
    <div>
        @Html.LabelFor(m => m.price)
        @Html.EditorFor(m => m.price)
    </div>

    <div>
        <input type="submit" value="add" onclick="create_data()" />
    </div>
</form>
@*}*@

<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>

<script type="text/javascript">

    function create_data() {
        var formData = $("#Create_Form").serializeArray();
        console.log(formData)
        $.ajax({
            url: '/api/ProductApi',
            method: "Post",
            dataType:"text",
            data: formData,
            success: function (res) {
                alert(res.Message);
                 window.location = "/Product"
                /*window.location.replace("http://localhost:1219/Product");*/
            },
            error: function (xhr, textStatus, error) {
                console.log(xhr.responseJSON.ExceptionMessage);
            }
        })
    }
</script>
